<canvas id='brushesViewer'></canvas>

<canvas id='texture' width="256" height="256"></canvas>

<div>
    <p>History</p>
    <input type="file" id="history" />
    <button id="replay">Replay</button>
</div>